<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand hover" ng-click="back()"> <span class="glyphicon glyphicon-arrow-left"></span> </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <p class="navbar-text" style="font-size:large">{{roomName}}</p>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="center-content">
    <div class="row">
        <div class="col-xs-6">
            Start Date:
            <div class=" input-group ">
                <input type="text" class="form-control" maxDate="endDate" ng-change="updateGraphAxis(graphXAxisConfig)" uib-datepicker-popup="dd/MM/yyyy"
                    ng-model="startDate" is-open="startDateOpened" ng-required="true" />
                <span class="input-group-btn">
            <button class="btn btn-default" ng-click="openStartDate()">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
            </div>
        </div>
        <div class="col-xs-6">
            X Axis:
            <br>
            <div class="btn-group" uib-dropdown is-open="graphXAxisDropdownIsOpen">
                <button class="btn btn-default" uib-dropdown-toggle> 
                    {{graphXAxisConfig}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-repeat="option in graphXAxisOptions" role="menuitem" ng-click="updateGraphAxis(option)">
                        <a href="">{{option}}</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<canvas id="line " class="chart chart-line " chart-dataset-override="datasetOverride" chart-data="displayedData " chart-labels="labels"
    chart-click="onClick" chart-options="options">
</canvas>