<nav class="navbar navbar-default navbar-static-top"> </nav>
<div class="fyp-table" st-table="data">
    <div class="form-group has-feedback">
        <input placeholder="Room Search..." st-search="room" st-delay="0" class="form-control" type="search" />
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th st-sort="room" st-skip-natural="true">Room</th>
                <th st-sort="occupancy" st-skip-natural="true">Occupancy</th>
                <th st-sort="max_occupancy" st-skip-natural="true">Max Occupancy</th>
                <th st-sort="getters.sortByPercentage" st-skip-natural="true">Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data" ng-click="goToRoom(row.room)" class="center-row">
                <td>{{row.room}}</td>
                <td>{{row.occupancy}}</td>
                <td>{{row.max_occupancy}}</td>
                <td>{{getPercentage(row.occupancy, row.max_occupancy)}}%</td>
            </tr>
        </tbody>
    </table>
</div>