<nav class="navbar navbar-default navbar-static-top"> </nav>
<div class="fyp-table" st-table="displayedData" st-safe-src="data">
    <div class="form-group has-feedback">
        <input placeholder="Room Search..." st-search="name" st-delay="0" class="form-control" type="search" />
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th st-sort="name" st-skip-natural="true">Room</th>
                <th st-sort="occupancy" st-skip-natural="true">Occupancy</th>
                <th st-sort="maxOccupancy" st-skip-natural="true">Max Occupancy</th>
                <th st-sort="getters.sortByPercentage" st-skip-natural="true">Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in displayedData" ng-click="goToRoom(row.name)" class="center-row">
                <td>{{row.name}}</td>
                <td>{{row.occupancy}}</td>
                <td>{{row.maxOccupancy}}</td>
                <td>{{getPercentage(row.occupancy, row.maxOccupancy)}}%</td>
            </tr>
        </tbody>
    </table>
</div>